body{
    margin: auto;
    padding: auto;
}

div{
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    background-color:mintcream;
    border-radius: 50%;
}

li{
    list-style: georgian ;
}

ol{
    list-style: none;
}

a{
    text-decoration: none;
}